################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyecto_MiniChess/.vs/Proyecto_MiniChess
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/FileContentIndex
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/FileContentIndex/573ad154-74e5-469f-8203-461722c262ba.vsidx
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/FileContentIndex/59c1d297-69e3-4b2e-a686-ec6a9a12e92a.vsidx
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/FileContentIndex/e138c9c2-e4c2-4a19-a016-f5c2862a9a10.vsidx
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/v17
/Proyecto_MiniChess/.vs/Proyecto_MiniChess/v17/Browse.VC.opendb
